/* .container {
  width: 583px;
  height: 74px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container label {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--description);
}

.container select {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--black);
  border-radius: 14px;
  border: none;
  background-color: var(--white);
}

.lagnContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 221px;
}

.lagnContainer::after {
  content: '';
  background-image: url('../../../public/header/arrow.svg#selectArrow');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.lagnContainer select {
  padding: 12px 18px;
}

.langLevelContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 198px;
}

.langLevelContainer::after {
  content: '';
  background-image: url('../../../public/header/arrow.svg#selectArrow');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.langLevelContainer select {
  padding: 12px 18px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 124px;
}

.priceContainer::after {
  content: '';
  background-image: url('../../../public/header/arrow.svg#selectArrow');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.priceContainer select {
  padding: 12px 18px;
} */

.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 221px;
}

.customSelect {
  position: relative;
}

.customSelect select {
  width: 100%;
  padding: 12px 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 14px;
  border: none;
  background-color: var(--white);
  color: var(--black);
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  pointer-events: none;
  stroke: var(--black);
  fill: var(--white);
}

.rotated {
  transform: translateY(-50%) rotate(180deg);
}
