:root {
  --yellow: #f4c550;
  --white-lemon: #fbe9ba;
  --green: #9fbaae;
  --white-green: #cbded3;
  --grey-blue: #9fb7ce;
  --white-blue: #bfd6ea;
  --pink: #e0a39a;
  --white-pink: #f2c0bd;
  --orange: #f0aa8d;
  --white-orange: #f4c8ba;
  --background: #f8f8f8;
  --black: #121417;
}
