.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  gap: 12px;
}

.errNumber {
  font-size: 54px;
  color: var(--secondary-3);
}

.errMessage {
  font-size: 36px;
}
